/*
========================================================================================================================================================
==============================================TRABALHO DE SISTEMAS DIGITAIS=============================================================================
=========================================JULIANO & SAMUEL============TURMA 23EO=========================================================================
========================================================================================================================================================
*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font: normal 15pt Arial;
}

h1{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

.link{
    font: normal 15pt Arial;
}

p {
    color: whitesmoke
}

a {
    color: whitesmoke
}
label {
    color: whitesmoke
}

.block{
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 200px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));
    text-align: center;
    font-style: italic;
}

.glow::before , .glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff,
    #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 300%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
    opacity: 0.99;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
}
.outer{
    position: relative;
    margin: 0 290px;
    background: rgb(44, 43, 43);
}
.button{
    height: 40px;
    width: 110px;
    border-radius: 50px;
}
.outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.outer button{
    background: rgb(44, 43, 43);
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 15px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.button button{
    height: 30px;
    width: 100px;
    border-radius: 50px;
}
.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span{
    border-radius: 50px;
}
.outer:hover span:nth-child(1){
    filter: blur(7px);
} 
.outer:hover span:nth-child(2){
    filter: blur(14px);
} 
.outer:hover{
    background: linear-gradient(45deg, #14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}